export('processFCS')
export('importData')
export('downsampleByVar')
export('performUMAP')
export('contourPlot')
export('metadataPlot')
export('markerExpression')
export('clusKNN')
export('plotClusters')
export('markerExpressionPerCluster')
export('markerEnrichment')
export('plotSignatures')
import('SingleCellExperiment')
import('ggplot2')
import('ggrepel')
importFrom('flowCore', 'read.FCS', 'exprs')
importFrom('corrplot', 'corrplot')
importFrom('umap','umap')
importFrom('RColorBrewer', 'brewer.pal')
importFrom('Seurat', 'FindNeighbors', 'FindClusters', 'FindMarkers')
importFrom('cowplot', 'plot_grid', 'ggdraw', 'draw_label')
importFrom('reshape2', 'melt')
importFrom('stats', 'var', 'aggregate', 'median')
importFrom('grDevices', 'colorRampPalette')
importFrom('scales', 'rescale')
importFrom('graphics', 'legend')
importFrom('utils', 'head')
importFrom('MASS', 'rnegbin')
