export('processFCS')
export('downsampleByVar')
export('performUMAP')
export('contourplot')
export('metadataplot')
export('markerExpression')
export('clusKNN')
export('plotClusters')
export('markerExpressionPerCluster')
export('markerEnrichment')
export('diffExpression')
export('plotSignatures')
import('flowCore')
import('SingleCellExperiment')
import('PCAtools')
import('umap')
import('ggplot2')
import('ggrepel')
import('corrplot')
importFrom('Seurat', 'FindNeighbors', 'FindClusters', 'FindMarkers')
importFrom('cowplot', 'plot_grid', 'ggdraw', 'draw_label')
importFrom('reshape2', 'melt')
importFrom('stats', 'var')
importFrom('grDevices', 'colorRampPalette')
importFrom('scales', 'rescale')
useDynLib(scDataviz)
